@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
    
    font-family: 'Khula', sans-serif;
    height: 100vh;
    font-weight: 600;
}
.container {
    position: relative;
    margin: 0 auto;

}
.image {
    position: relative;
    max-width: 600px;

}
.image img {
    max-width: 100%;
    height: auto;
}

.answerContainer{
    top: 40%;
    left: 35%;
    max-height: 100px;
    width: 200px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
}
.start {
    max-width: 200px;
    max-height: 100px;
    display: block;
    z-index: 9999;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
@media screen and (max-width: 600px){
    .answerContainer{
        width: 90px;
        left: 38%;
        font-size: 13px;

    }
}
@media screen and (max-width: 600px){
    .answerContainer{
        width: 90px;
        left: 38%;
        font-size: 13px;
    }
}
@media screen and (min-width: 600px){
    .answerContainer{
        left: 50%%;
    }
}
