@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
    
    font-family: 'Khula', sans-serif;
    height: 100vh;
    font-weight: 600;
}
.container {
    position: relative;
    margin: 0 auto;

}
.image {
    position: relative;
    max-width: 600px;

}
.image img {
    max-width: 100%;
    height: auto;
}

.answerContainer{
    top: 40%;
    left: 40%;
    width: 200px;
    height: 100px;
    position: absolute;
    transition: 2s;
}
.start {
    z-index: 9999;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: 1s;
    font-size: 3vw;
}
